/* * {
    color: white;
    background-color: black;
}

.container {
    /* first given the width and then make it display flex  

width: 520px;
height: 450px;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 80px;
padding: 50px;
border: 2px solid white;

/* background-color: #331e47; */


/* background-color: #c9cbd7; 
    margin-left: 378px;
    border-radius: 52px
}

.Login_page {
    margin-bottom: 5px;
}

.passwordPage {
    margin-top: 10px;
}

.font {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding: 15px;
    font-weight: bolder;
}

.inputEmailPass {
    font-size: large;
    margin-left: 15px;
    padding: 15px;
}

.Loginbutton {
    font-size: large;
    margin-top: 35px;
    margin-left: 56px;
    padding: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    width: 144px;
    border-radius: 24px;
}

.Loginbutton:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
} */


/* making the margin and padding 0 */

* {
    padding: 0;
    margin: 0;
}


/* changing the background color of the whole body  */

body::after {
    /* background-color: #1c1f24; */
    /* opacity: 0.8; */
    content: "";
    background-image: url('../images/userbackground.jpg');
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    /* filter: alpha(opacity=0.4); */
}


/* For making the card in the center of the page */

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40rem; */
    margin-top: 3rem;
    opacity: 0.7;
    padding: 2rem;
}

.cardHeight {
    height: 30rem;
    width: 30rem;
}


/* for boxShadow  */

#card {
    box-shadow: rgb(12 16 18) 0.9rem 0.9rem 0.2rem;
    background-color: rgb(24, 24, 24);
    color: white;
    /* text-align: center; */
}


/* For adjusting the login input and label  */

.userBtn {
    background-color: #181818;
    border-width: 0.1rem;
    border-radius: 2rem;
    border-color: #8499bc;
    color: white;
    width: 5rem;
    height: 2.5rem;
}

.userBtn:hover {
    transform: scale(1.2);
}